body {
    background-color: rgba(93,195,243,1);
    font-family: 'Capriola', serif;
}
footer {
    background-color: rgba(207,207,207,1);
    margin: 0;
}
.nav-sun {
    float: left;
    height: 3.5em;
    width: 60px;
    background: url("/static/img/Sun.png");
    background-size: cover;
    margin: 0 15px;
}
ul.nav-menu, ul.footer-links {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    height: 3.5em;
    padding: 0;
    margin: 0;
}
ul.nav-menu li {
    float: right;
    margin: 0 5px;
    text-align: center;
    height: inherit;
    display: inline-table;
    padding: 0 5px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
ul.nav-menu li:hover {
    background-color: rgba(72,91,210,1);
}
ul.nav-menu li a {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    text-decoration: none;
}

ul.footer-links {
    text-align: center;
}
ul.footer-links li{
    display: inline-table;
    margin: 0 5px;
    text-align: center;
    height: 100%;
    padding: 0 5px;

}
ul.footer-links li a {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    text-decoration: none;
    color: rgba(158,158,158,1);
}

ul.footer-links li:hover{
    background-color: rgba(246,246,246,1);
    color: rgba(203,203,203,1);
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.menu-text {
    color: #ffffff;
}
.content-wrapper {
    width: 100%;
}
.map-wrapper {
    background-color: rgba(72,91,210,1);
}
.text-wrapper {
    background-color: rgba(247,247,247,1);
    height: 20em;
    width: 100%;
}
.text-wrapper div{
    vertical-align: middle;
    float: left;
    height: 100%;
    width: 50%;
}
.question {
    margin: 0 auto;
    /*display: table;*/
    text-align: center;

}
.question p {
    margin: 0 auto;
    text-align: left;
    padding: 0 2em;
}
.about li {
    padding-right: 2em;
}
#map {
    /*background-image: url('/static/img/PR_Draft_PR_Map.png');*/
    /*-webkit-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    margin: 0 auto;
    width: 100%;
    height: 500px;
    padding-top: 2em;
}

#map h1 {
    color: rgba(253,249,94,1);
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 2pt;
    margin: 0;
    padding: 0;
}

#map svg {
    /*TODO: Get the img centered witht he map*/
    /*background-image: url('/static/img/PR_Draft_PR_Map.png');*/
    background-size: auto;
}