/* layout.html start */
body {
    background-color: rgba(93,195,243,1);
    font-family: 'Capriola', serif;
}
footer {
    background-color: rgba(207,207,207,1);
    margin: 0;
}
div.tooltip {
      color: #222;
      background: #fff;
      padding: .5em;
      text-shadow: #f5f5f5 0 1px 0;
      border-radius: 2px;
      box-shadow: 0px 0px 2px 0px #a6a6a6;
      visibility: hidden;
      position: absolute;
}
div.video {
    width: 100px;
    height: 100px;
    background-color: black;

}
.header-title {
    display: table;
    float: left;
    height: 3.5em;
}
.header-title a{
    text-decoration: none;
    color: rgba(255, 255, 106, 1);
    display: table-cell;
    vertical-align: middle;
    font-family: "Open Sans" sans-serif;
    font-weight: 700;
    font-size: xx-large;

}
.wrapper {
    margin: 0;
    padding: 0;
}
.name-wrapper {
  margin: 0 auto;
  text-align: center;
  color: rgba(253,253,87,1);
  padding: 0 0 15px 0;
  font-family: "Open Sans" sans-serif;
  font-weight: 700;
  font-size: x-large;
  height: 1.5em;
}
#map{
    margin: 0 auto;
    width: 70%;
    text-align: center;;
}
.nav-sun {
    float: left;
    height: 3.5em;
    width: 60px;
    background: url("/static/img/Sun.png");
    background-size: cover;
    margin: 0 15px;
}
ul.nav-menu, ul.footer-links {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    height: 3.5em;
    padding: 0;
    margin: 0;
}
ul.nav-menu li {
    float: right;
    margin: 0 5px;
    text-align: center;
    height: inherit;
    display: inline-table;
    padding: 0 5px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
ul.nav-menu li:hover {
    background-color: rgba(72,91,210,1);
}
ul.nav-menu li a {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    text-decoration: none;
}

ul.footer-links {
    text-align: center;
}
ul.footer-links li{
    display: inline-table;
    margin: 0 5px;
    text-align: center;
    height: 100%;
    padding: 0 5px;

}
ul.footer-links li a {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    text-decoration: none;
    color: rgba(158,158,158,1);
}

ul.footer-links li:hover{
    background-color: rgba(246,246,246,1);
    color: rgba(203,203,203,1);
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.menu-text {
    color: #ffffff;
}
/* layout.html end */

/* index.html start*/
.content-wrapper {
    width: 100%;
}
.map-wrapper {
    background-color: rgba(72,91,210,1);
}
.text-wrapper {
    background-color: rgba(247,247,247,1);
    height: 100%;
    width: 100%;
}
.question, .about {
    vertical-align: middle;
    float: left;
    /*height: 100%;*/
    width: 50%;
}
.question {
    margin: 0 auto;
    text-align: center;
}
.question p {
    margin: 0 auto 1em;
    text-align: left;
    padding: 0 2em;
}
.about li {
    padding-right: 2em;
}

.button-wrapper {
    clear: both;
    text-align: center;
    width: 100%;
}
.btn {
    float: none;
    clear: both;
    font-family: 'Capriola', sans-serif;
    font-size: x-large;
    font-weight: 600;
    white-space: nowrap;
}
.btn:hover {
    cursor: pointer;
}
.btn > span {
    margin: 0 auto 1em;
    padding: 0.5em 1em;
    display: inline-block;
    transition: 0.25s all;
    border-radius: 0.25em;
    white-space: nowrap;
    color: rgba(255, 255, 255, 1);
    background: rgba(10, 199, 244, 1);
}
.btn:hover > span,
.btn:focus > span {
    background: rgba(140, 241, 137, 1);
}
.btn:active > span {
    background: rgba(52, 207, 44, 1);
    transition: none;
}

/* input form styles */
:-moz-placeholder {
    color: rgba(93,195,243,1);
}
::-webkit-input-placeholder {
    color: rgba(93,195,243,1);
}

*:focus {
    outline: none;
}
.form-wrapper {
    display: none;
    clear: both;
}
.input-form {
    margin: 0 auto;
    padding-top: 1.5em;
    width: 60%;
    text-align: center;
    border-top: 1px solid rgb(173, 175, 173);
}
.input-form legend {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: x-large;
}
.input-form ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}
.input-form li {
    padding: 12px;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    position: relative;
}
.input-form label {
    width: 40%;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
    text-align: right;
}
.input-form input, .input-form select, .input-form textarea {
    width: 40%;
}
.input-form input, .input-form select {
    height: 20px;
    padding: 5px 8px;
}
.input-form textarea {
    padding: 8px;
}
.input-form input, .input-form textarea, .input-form select {
    border: 1px solid rgba(170, 170, 170, 1);
    box-shadow: 0px 0px 3px rgba(204, 204, 204, 1), 0 10px 15px rgba(234, 234, 234, 1) inset;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.input-form input:focus, .input-form textarea:focus, .input-form select:focus {
    background: rgba(255,255,255,1);
    border: 1px solid rgba(84,84,84,1);
    box-shadow: 0 0 3px rgba(170,170,170,1);
}
button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    text-shadow: 0 -1px 0 #396715;

    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
}

button.cancel {
    background-color: #b1181b;
    background: -webkit-gradient(linear, left top, left bottom, from(#b1322e), to(#912021));
    background: -webkit-linear-gradient(top, #b1322e, #912021);
    background: -moz-linear-gradient(top, #b1322e, #912021);
    background: -ms-linear-gradient(top, #b1322e, #912021);
    background: -o-linear-gradient(top, #b1322e, #912021);
    background: linear-gradient(top, #b1322e, #912021);
    border: 1px solid #91030a;
    border-bottom: 1px solid #91030A;
    text-shadow: 0 -1px 0 #953c31;

    box-shadow: inset 0 1px 0 0 #d56e57;
    -webkit-box-shadow: 0 1px 0 0 #D56E57 inset ;
    -moz-box-shadow: 0 1px 0 0 #D56E57 inset;
    -ms-box-shadow: 0 1px 0 0 #D56E57 inset;
    -o-box-shadow: 0 1px 0 0 #D56E57 inset;
    color: white;
}
button.submit, button.cancel  {

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;

}
button.submit:hover, button.cancel:hover {
    opacity:.85;
    cursor: pointer;
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;

}
/* input form styles end */

#map {
    margin: 0 auto;
    width: 100%;
    padding-top: 2em;
}

#map h1 {
    color: rgba(253,249,94,1);
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 2pt;
    margin: 0;
    padding: 0;
}

#map svg {
    /*TODO: Get the img centered witht he map*/
    /*background-image: url('/static/img/PR_Draft_PR_Map.png');*/
    background-size: auto;
}

/* index.html end */

/* videos.html start */
.videos-content {
    background-color: rgba(246,246,246,1);
    height: 100%;
    width: 100%;
}

.video-header {
    font-family: 'Copriola', sans-serif;
    font-weight: 600;
    color: rgba(246,246,246,1);
    height: 1.5em;
    background-color: rgba(72,91,210,1);
    padding: 3px 0;
}
.town-name {
    margin: 1.5em 2.5em;
}

.video-container {
    margin: 1.5em auto;
    width: 90%;
    text-align: center;
}

.item {
    /*width: 8em;
    margin: 0 auto;
    float: left;*/
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 3px;
    background: rgba(89, 190, 242, 1);
}
.video-name {
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.flashes {
    margin: 0 auto;
    text-align: center;
}
.flashes li {
    list-style: none;
}
/* videos.html end */
