{% extends "layout.html" %}
{% block title %}Orgullo Map{% endblock %}
{% block head %}
	{{ super() }}
	<!-- any local css/styling should be put here -->
{% endblock %}
{% block content %}
    <div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class="map-wrapper">
            <div id="map">
                <h1>PUERTO<img src="{{ url_for('static', filename='img/Sun.png') }}">&nbsp;RICO</h1>
            </div>
						<div class="name-wrapper">
							<span id="name"></span>
						</div>
        </div>
        <div class="text-wrapper">
            <div class="question">
                <h1>&iquest;Qu&eacute es OrgulloPR&quest;</h1>
                <p>Orgullo PR es un proyecto para resaltar lo bueno de todo Puerto Rico. La diferencia es que aqui <strong>TU</strong> eres el que nos dice que es el Orgullo de Puerto Rico.</p>
                <p>Para ver los videos de un municipio en especifico seleccionelo en el mapa de la parte superior.</p>
            </div>
            <div class="about">
                <h1>Envianos tu historia</h1>

                <p>Guia de preguntas: por favor contesta las siguientes peguntas</p>
                <ul>
                <li> Cual es tu nombre? </li>
                <li> Que haces? </li>
                <li> Donde vives?</li>
                <li> Que te enorgullece de tu lugar de residencia? </li>
                <li> Que haces para que [tu lugar de residencia] se sienta orgulloso de ti? </li>
                <li> Recuerdas alguna iniciativa de gobierno, local o nacional, pasada o presente que te haya enorgullecido? </li>
                </ul>
            </div>
            <div class="button-wrapper">
                <a class="btn"><span>ENVIANOS TU HISTORIA</span></a>
            </div>
            <div class="form-wrapper">
							<a name="send-story">
                <form action="/add" method="post" class="input-form" name="input-form">
                    <fieldset>
                        <legend>Entre su informaci&oacute;n</legend>
                        <ul>
                            <li>
                                <label for="name">Nombre:</label>
                                <input type="text" id="name" name="name" placeholder="Entre su nombre" required="true"/>
                            </li>
                            <li>
                                <label for="prof">Profesi&oacute;n:</label>
                                <input type="text" id="prof" name="prof" placeholder="Entre su profesi&oacute;n" required="true"/>
                            </li>
                            <li>
                                <label for="town">Municipio:</label>
                                <select id="town" name="town" required="true">
                                    <option value="">Seleccione uno...</option>
                                    {% for town in towns %}
                                        <option value="{{ town.name }}">{{ town.name }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                            <li>
                                <label for="pridein">&iquest;Qu&eacute; te orgullese&quest;</label>
                                <textarea id="pride_in" name="pride_in" cols="50" rows="6" ></textarea>
                            </li>
                            <li>
                                <label for="prideof">&iquest;Qu&eacute; has hecho para que esten orgullosos de t&iacute;&quest;</label>
                                <textarea id="pride_of" name="pride_of" cols="50" rows="6" ></textarea>
                            </li>
                            <li>
                                <label for="pridegov">&iquest;Qu&eacute; iniciativa de gobierno te enorgulleci&oacute;&quest;</label>
                                <textarea id="pride_gov" name="pride_gov" cols="50" rows="6" ></textarea>
                            </li>
                            <li>
                                <label for="youtubelink">Enlace a su video</label>
                                <input id="youtube_link" name="youtube_link" type="text" placeholder="Entre el url de su video de Youtube" >
                            </li>
                            <li>
                                <button type="submit" class="submit">Someter</button>
                                <button type="reset" class="cancel">Cancelar</button>
                            </li>
                        </ul>
                    </fieldset>
                </form>
							</a>
            </div>
        </div>
	</div>
    {% block scripts %}
        {{ super() }}
    {% endblock %}
  	<script type = 'text/javascript'>

      $('document').ready(function() {
				orgullopr.init();
				mapOperator.init();

      	$('.btn').click(function () {
        	orgullopr.showForm();
        });
				$('.send-story').click(function () {
					orgullopr.showForm();
				});
        $('button.cancel').click(function() {
        	orgullopr.hideForm();
        });
      });
  	</script>
{% endblock %}
