{% extends "layout.html" %}
{% block title %}Orgullo Map{% endblock %}
{% block head %}
	{{ super() }}
	<!-- any local css/styling should be put here -->
{% endblock %}
{% block content %}
	<div class="wrapper">
		<div id="map"></div>
	</div>
	<script type="text/javascript">
		var tooltip = d3.select('#map').append('div').attr('class', 'tooltip');

	  	var config = {
	  		node: $('#map')[0],
	  		tiles: ['pueblos'],
	  		size: 'medium',
	  		json_path: '{{ url_for("static", filename="geotiles/PATHGEN.json") }}',
	  		on_ready: main
	  	};
	    var puertoRico = new AtlasPR(config);

	    function main() {

			var pueblos = puertoRico.svg.selectAll('.pueblos');
			console.log(pueblos);
			pueblos.on('mousemove', function(d,i){
				var mouse = d3.mouse(puertoRico.svg.node()).map(function(d) { return parseInt(d); });

				var tooltipHtml = '<span id=' + d.properties.NAME + '>Name: ' + d.properties.NAME + '</span>'+ 
					'<br />' +
					'<div class="video" id="video-' + d.properties.NAME + '">' +
					'<iframe width="100" height="100" src="//www.youtube.com/embed/cHTyUz86fMY?list=PL65XgbSILalV-wInUiERrhjweMlJkukMd" frameborder="0" allowfullscreen></iframe>' +
					'</div>'

				tooltip.html(tooltipHtml)
					.transition()
					.duration(300)
					.style('visibility', 'visible')
					.style('left', (mouse[0] + 25) + 'px')
					.style('top', mouse[1] + 'px');

		    })
		    .on('mouseover', function(d, i) {
		    	d3.select(this).style('stroke-width', 3).style('fill', 'red');
		    })
		    .on("mouseout",  function(d,i) {
		    	d3.select(this).style('stroke-width', 2).style('fill', 'white');
		    	tooltip.style('visibility', 'hidden').html('');
		    });

		}
	</script>
{% endblock %}