{% extends "layout.html" %}
{% block title %}Orgullo Map{% endblock %}
{% block head %}
	{{ super() }}
	<!-- any local css/styling should be put here -->
{% endblock %}
{% block content %}

    <div class="videos-content">
        <div class="video-header">
            <span class="town-name">{{ town }}</span>
        </div>
        {% if videos %}
            <div class="video-container">

                {% for video in videos %}
                    <div class="item">
                        <iframe width="200" height="100" src="//www.youtube.com/embed/{{ video.youtube_link }}" frameborder="0" allowfullscreen></iframe>
                        <div> <span class="video-name">{{ video.name }} </span></div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        {% endif %}
    </div>

    {% block scripts %}
        {{ super() }}
    {% endblock %}

    <script>

        orgullopr.init();

        $('document').ready(function(){

            var msnry = new Masonry($('.video-container')[0], {
                itemSelector: '.item',
                columnWidth: 240,
                isFitWidth: true,
                animationOptions: {
                    duration: 400
                },
                containerStyle: {
                    position: 'relative'
                }
            });

{#            $('.video-link').ytchromeless({#}
{#                videoWidth: '200',#}
{#                videoHeight: '100'#}
{#            });#}
        });

    </script>
{% endblock %}
