{% extends "layout.html" %}
{% block title %}Orgullo Map{% endblock %}
{% block head %}
	{{ super() }}
	<!-- any local css/styling should be put here -->
{% endblock %}
{% block content %}

    <div class="videos-content">
        <div class="video-header">
            <span class="town-name">{{ municipio }}</span>
        </div>
        {% if videos and len(videos) %}
            <div class="video-container">

                {% for video in videos %}
                    <div class="item">
                        <iframe width="200" height="100" src="{{ video.youtube_link }}" frameborder="0" allowfullscreen></iframe>
                        <div class="video-name"> {{ video.name }} </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        {% endif %}
    </div>
    <script>

        orgullopr.init();

        $('document').ready(function(){

            var msnry = new Masonry($('.video-container')[0], {
                itemSelector: '.item',
                columnWidth: 240,
                isFitWidth: true,
                animationOptions: {
                    duration: 400
                },
                containerStyle: {
                    position: 'relative'
                }
            });
        });

    </script>
{% endblock %}